body {
  background-color: yellow;
}

header {
  background-image: url(markus-spiske-iar-afB0QQw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
  color: white;
  text-align: center;
  clear: both;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
}
p {
  font-size: 14;
}

button {
  padding: 10px;
  border: solid;
  border-color: black;
  margin-top: 20px;
  border-radius: 1.5em;
}

#imagens {
  height: 100px;
  margin-top: 2em;
}

#imagens div {
  float: left;
}

#imagens div img {
  height: 300px;
  margin-right: 2em;
}
