body {
  background-color: yellow;
  font-family:sans-serif;
}

header {
  background-image: url(markus-spiske-iar-afB0QQw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
  color: white;
  text-align: center;
  clear: both;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16;
}

p {
  font-size: 14;
}

button {
  padding: 10px;
  border: solid;
  border-color: black;
  margin-top: 20px;
  border-radius: 1.5em;
}

button img {
  border-radius: 1em;
}

#imagens {
  height: 100px;
  margin-top: 2em;
}

#imagens div {
  float: left;
}

#imagens div img {
  height: 200px;
  margin-right: 2em;
}

nav {
  background-color: black;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
}

nav ul {
  float: left;
  padding-inline-start: 1em;  
}

nav img {
  max-height: 50px;
  float: left;
}

nav li {
  display: inline;     
  padding: 0 1.5em;
  height: 50px;
  color: white;
  text-decoration: none;
}

